* {
    margin: 0;
    padding: 0;
}

body {
    background: url(./assets/background.jpg);
    justify-content: space-around;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    flex-direction: column;
    display: block;
}

.website {
    display: flex;
    width: 100%;
    height: 125px;
    background:#fff; 
    opacity: 0.7;
}

.websiteContainer {
    display: flex;
    width: 70%;
    align-items: center;
    margin-left: 100px;
}

.websiteText {
    display: flex;
    font-family: "Bahianita";
    font-size: 5rem;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.myLogo {
    display: flex;
}

.innerHeaderContainer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.headerContainer {
    justify-content: center;
    height: 604px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    position: relative;
    justify-content: space-around;
    width: 100%;
    color: white;
    font-family: "Bahianita";
    font-weight: 500;
    font-size: 3rem;
}


.resumeContainer {
    background-color: #a9855d;
    opacity: 0.8;
    justify-content: center;
    width: 100%;
    height: 304px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: black;
    font-family: "Bahianita";
    font-size: 2rem;
}

.partyChoiceContainer {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    color: #fff;
    transition: flex .4s ease;
    position: relative;
    cursor: pointer;
}

.section .overlay {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    transition: background-color .8s ease;
}

.section .content {
    z-index: 2;
    font-family: "Bahianita";
    font-size: 2rem;
}

.section:hover {
    flex: 2;
}

.section:hover .overlay {
    background-color: rgba(0, 0, 0, 0);
}

#marinha {
    background-image: url(./assets/marinha-beach-club.jpg)
}

#papagayo {
    background-image: url(./assets/papagayo-beach-club.jpg)
}

#terrazas {
    background-image:url(./assets/terraza-isla-de-mar.jpg)
}

footer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 150px;
    width: 100%;
    background: #a9855d;
}

.social {
    display: flex;
    flex-direction: row;
}

.copyrightContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.copyrightContent {
    display: flex;
    align-items: center;
}

.copyright {
    color:#fff;
    font-size: 0.8rem;
    font-family: "Big Calson";
}

@keyframes donut-chart-fill {
    to { stroke-dasharray: 0 100; }
}

.percentageCircles {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.svg-item {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 200px;
    font-size: 16px;
}

.donut-ring {
    stroke: #EBEBEB;
}

.donut-segment {
    animation: donut-chart-fill 1s reverse ease-in;
    transform-origin: center;
    stroke: #a9855d;
}

.donut-text {
    font-family: Arial, Helvetica, sans-serif;
    fill: #a9855d;
}

.donut-label {
    font-size: 0.28em;
    font-weight: 700;
    line-height: 1;
    fill: #000;
    transform: translateY(0.25em);    
}

.donut-percent {
    font-size: 0.5em;
    fill: #a9855d;
    line-height: 1;
    transform: translateY(0.5em);
}

.percentageTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.myTitle {
    font-family: "Bahianita";
    font-size: 15px;
    color: white;
}

.resultsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.resultsContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-direction: column;
    font-family: "Bahianita";
}

.results {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Bahianita";
    font-size: 2rem;
    color: white;
    width: 100%;
}

.graph-container {
    position: relative;
}

.graph-container .percent-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: white;
    font-family: "Bahianita";
  }